<a href="https://colab.research.google.com/github/VimalMollyn/ED6001-Term-Project/blob/colab/Preprocessing/3.%20Create%20train%20and%20test%20split.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
from glob import glob
from pathlib import Path

In [3]:
files = pd.DataFrame({"filepath": glob("/content/drive/MyDrive/ED6001_MIA_Term_Project/data/*/*")})

In [5]:
# filter out the HH files
HH_df = files[files["filepath"].str.contains("-HH-", case=True, regex=True)].reset_index(drop=True)
HH_df

                                              filepath
0    /content/drive/MyDrive/ED6001_MIA_Term_Project...
1    /content/drive/MyDrive/ED6001_MIA_Term_Project...
2    /content/drive/MyDrive/ED6001_MIA_Term_Project...
3    /content/drive/MyDrive/ED6001_MIA_Term_Project...
4    /content/drive/MyDrive/ED6001_MIA_Term_Project...
..                                                 ...
550  /content/drive/MyDrive/ED6001_MIA_Term_Project...
551  /content/drive/MyDrive/ED6001_MIA_Term_Project...
552  /content/drive/MyDrive/ED6001_MIA_Term_Project...
553  /content/drive/MyDrive/ED6001_MIA_Term_Project...
554  /content/drive/MyDrive/ED6001_MIA_Term_Project...

[555 rows x 1 columns]

In [6]:
HH_df["filepath"] = HH_df["filepath"].apply(lambda x: '/'.join(x.split('/')[-2:]))

In [7]:
HH_df

                            filepath
0    IXI-PD/IXI012-HH-1211-PD.nii.gz
1    IXI-PD/IXI013-HH-1212-PD.nii.gz
2    IXI-PD/IXI014-HH-1236-PD.nii.gz
3    IXI-PD/IXI015-HH-1258-PD.nii.gz
4    IXI-PD/IXI033-HH-1259-PD.nii.gz
..                               ...
550  IXI-T1/IXI638-HH-2786-T1.nii.gz
551  IXI-T1/IXI643-HH-2787-T1.nii.gz
552  IXI-T1/IXI646-HH-2653-T1.nii.gz
553  IXI-T1/IXI661-HH-2788-T1.nii.gz
554  IXI-T1/IXI519-HH-2240-T1.nii.gz

[555 rows x 1 columns]

In [11]:
sampled_files = HH_df.sample(n=110).reset_index(drop=True)
sampled_files

                            filepath
0    IXI-PD/IXI048-HH-1326-PD.nii.gz
1    IXI-T2/IXI440-HH-2127-T2.nii.gz
2    IXI-PD/IXI239-HH-2296-PD.nii.gz
3    IXI-T2/IXI278-HH-1771-T2.nii.gz
4    IXI-T2/IXI013-HH-1212-T2.nii.gz
..                               ...
105  IXI-T2/IXI160-HH-1637-T2.nii.gz
106  IXI-T1/IXI544-HH-2395-T1.nii.gz
107  IXI-T2/IXI634-HH-2690-T2.nii.gz
108  IXI-T1/IXI636-HH-2733-T1.nii.gz
109  IXI-T2/IXI439-HH-2114-T2.nii.gz

[110 rows x 1 columns]

In [13]:
train = sampled_files.iloc[:100]
train

                           filepath
0   IXI-PD/IXI048-HH-1326-PD.nii.gz
1   IXI-T2/IXI440-HH-2127-T2.nii.gz
2   IXI-PD/IXI239-HH-2296-PD.nii.gz
3   IXI-T2/IXI278-HH-1771-T2.nii.gz
4   IXI-T2/IXI013-HH-1212-T2.nii.gz
..                              ...
95  IXI-PD/IXI334-HH-1907-PD.nii.gz
96  IXI-PD/IXI437-HH-2152-PD.nii.gz
97  IXI-T2/IXI242-HH-1722-T2.nii.gz
98  IXI-T2/IXI353-HH-1996-T2.nii.gz
99  IXI-T1/IXI385-HH-2078-T1.nii.gz

[100 rows x 1 columns]

In [14]:
test = sampled_files.iloc[100:]

train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)